body {
    background-image: url('./assets/images/bg.png');
    background-color: black;
    color: #f0e942;
    font-family: 'Arvo', serif;
}
a {
    color: #f0e942;
    text-decoration: none;
}
nav li {
    font-family: 'Audiowide', cursive;
    padding-left: 20px;
    font-size: 17px;
    list-style-type: none;
    display: inline;
}
#logo {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -80%);
}
#nav-links {
    position: absolute;
    top: 27%;
    left: 48.1%;
    transform: translate(-51.9%, -73%);
}

.high_br {
    line-height: 17;
}
.medium_br {
    line-height: 12;
}
.box {
    width: 700px;
    height: 150px;
    border: 3px solid #f0e942;
    border-radius: 10px;
    position: absolute;
    left: 10%;
}
.item_name {
    position: absolute;
    top: 0%;
    left: 5%;
    font-size: 50px;
}
.description {
    position: absolute;
    top: 45%;
    left: 5%;
    font-size: 40x;
}
.price {
    position: absolute;
    top: 18%;
    left: 45%;
    font-size: 30x;
}
.purchase {
    background: #f0e942;
    width: 150px;
    height: 30px;
    position: absolute;
    top: 42%;
    left: 70%;
    font-size: 30x;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
}



#ads {
    width: 300px;
    height: 1500px;
    position: absolute;
    top: 40%;
    left: 75%;
}
.product {
    width: 300px;
}
#vert_line {
    border-left: 3px solid #f0e942;
    height: 1850px;
    position: absolute;
    top: 40%;
    left: 73%;
}