body {
    background-image: url('./assets/images/bg.png');
    background-color: black;
    color: #f0e942;
    font-family: 'Arvo', serif;
}
a {
    color: #f0e942;
    text-decoration: none;
}
nav li {
    font-family: 'Audiowide', cursive;
    padding-left: 20px;
    font-size: 17px;
    list-style-type: none;
    display: inline;
}
#logo {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -80%);
}
#nav-links {
    position: absolute;
    top: 27%;
    left: 48.1%;
    transform: translate(-51.9%, -73%);
}

#ads {
    width: 300px;
    height: 1500px;
    position: absolute;
    top: 40%;
    left: 75%;
}
.product {
    width: 300px;
}
#vert_line {
    border-left: 3px solid #f0e942;
    height: 1850px;
    position: absolute;
    top: 40%;
    left: 73%;
}